.sidebar{
	width: 260px;
	flex-shrink: 0;
	height: 100%;
	overflow: auto;
}

.sidebar-item {
	padding: .75em 1em;
	display: block;
	border-radius: 5px;
	color: #ffffff;
	line-height: 1.5rem;
	text-decoration:none;
}
 
.sidebar-title{
	display: flex;
	font-size: 1.2em;
	justify-content: space-between;
}

.sidebar-title span svg{
	display: inline-block;
	width: 1.5em;
}

.sidebar-title .toggle-btn{
	cursor: pointer;
	transition: transform .3s;
}

.sidebar-item.open > .sidebar-title .toggle-btn{
	transform: rotate(180deg);
}

.sidebar-content{
	padding-top: .25em;
	height: 0;
	overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
	height: auto;
}

.sidebar-item.plain{
	color: #fff;
	text-decoration: none;
	padding: 0.75em 1em;
}

.sidebar-item.plain.active, .sidebar-item.plain:hover {
	text-decoration: none;
	color: var(--accent-color);
}

.sidebar-item.plain span {
	font-size: 1em;
	padding-left: 20px;
}
.sidebar-item.plain svg{
	display: inline-block;
	width: 1.5em;
}

.menu-parent{
	padding: 0.50em 0.5em;
	display: block;
	border-radius: 5px;
	color: #ffffff;
	line-height: 1.5rem;
	text-decoration:none;
}

.parent-title{
	font-size: 1.2em;
}

.menu-parent.plain{
	color: #fff;
	text-decoration: none;
}

.menu-parent.plain span{
	font-size: 1em;
}

.menu-parent.plain svg{
	display: inline-block;
	width: 1.7em;
	text-decoration: none;
}

.menu-parent.active, .menu-parent:hover {
	text-decoration: none;
	/* background-color: rgba(173, 167, 167, 0.1); */
	color: var(--accent-color);
  }