table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	border-radius: 0.25rem 0.25rem 0 0;
	border-bottom: none;
	margin-bottom: 20px;
	font-family: 'Roboto Slab', serif;
}

table td,
table th {
	background: var(--section-background-color);
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #1a1a1a;
	padding: 8px 20px;
	font-weight: bold;
	text-align: left;
	font-size: 0.8rem;
	font-family: 'Roboto Slab', serif;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}

table tr:hover {
	background-color: #ddd;
}

table th {
	background: var(--section-background-color);
	padding: 8px 10px;
	border-bottom: 1px solid #1a1a1a;
	font-weight: bold;
	text-align: left;
	font-family: 'Roboto Slab', serif;
}

.table-search {
	display: flex;
	align-items: baseline;
}


.table-search label {
	padding: 0px 5px 0px 8px;
}

.table-searchfield {
	margin-left: 10px;
}

.table-body-accessories {
	display: flex;
	justify-content: space-between;
}

/* Status color*/

.inclusion{
    color:orangered;
}

.biobank, .ongoing {
    color: #007bff;
}
.sequencing {
    color: #d81b60;
}

.data-delivered {
    color: #3c8dbc;
}

.analysis {
    color: #6610f2;
}


.curation {
    color: #28a745;
}

.report {
    color: #ea1212;
}

.pending {
    color: yellow;
}

.flex-container {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: flex-start;
}
  
.flex-container > div {
	/* width: 20%; */
	margin: 5px 0px;
	padding-left: 50px;
}

.flex-container > div > span {
	font-weight: 400;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    box-shadow: none;
    width: max-content;
  }

  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;
    width: max-content;
  }

  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: none;
    width: max-content;
  }

  .align-button {
    display: flex;
}
.displayblock{
	display: flex;
	flex-wrap: nowrap;
	padding: 20px,40px,30px,20px;  	
	width: 500px;
	margin: 10px;
	text-indent: 2.5em;
	text-align: left;
	line-height: 1.8;
	font-size: 15px;
	}

	/* Inclusion page CSS from old code */

	.bs-wizard {margin-top: 0px;}

	.progress {
		background-color: #c9ced4;
	}
	
	 .bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
	.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
	.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {font-weight:900!important; font-size: 10px; margin-bottom: 5px; text-transform: uppercase;}
	.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
	.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
	.bs-wizard > .bs-wizard-step > .bs-wizard-dot.success {background: #3cb371;}
	.bs-wizard > .bs-wizard-step > .bs-wizard-dot.failed {background: #E7625F;}
	.bs-wizard > .bs-wizard-step > .bs-wizard-dot.pending {background:#FFD700;} 
	
	
	.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #ECF87F; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
	.bs-wizard > .bs-wizard-step > .bs-wizard-dot.pending:after {content: ' '; width: 14px; height: 14px; background: #3cb371; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
	
	.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 6px; box-shadow: none; margin: 25px 0;}
	.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none;}
	
	.bs-wizard > .bs-wizard-step > .progress > .progress-bar.success {background: #3cb371;}
	.bs-wizard > .bs-wizard-step > .progress > .progress-bar.failed {background: #E7625F;} 
	.bs-wizard > .bs-wizard-step > .progress > .progress-bar.pending {background: #FFD700 ;} 
	
	.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
	.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
	.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
	.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
	.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #c9ced4;}
	.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
	.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
	.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
	.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
	
	
	.inclusion{
		color:orangered;
	}
	
	.biobank, .ongoing {
		color: #007bff;
	}
	.sequencing {
		color: #d81b60;
	}
	
	.data-delivered {
		color: #3c8dbc;
	}
	
	.analysis {
		color: #6610f2;
	}
	
	
	.curation {
		color: #28a745;
	}
	
	.report {
		color: #ea1212;
	}
	
	.pending {
		color: yellow;
	}
	.randomization, .completed {
		color:#787D12;
	}
	
	.discontinue, .excluded, .cancelled, .no-data{
		color:red;
	}
	
	.unschedule {
		color:lightblue;
	}
	
	.info-box {
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
		border-radius: 0.25rem;
		background-color: #fff;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin-bottom: 1rem;
		min-height: 80px;
		padding: .5rem;
		position: relative;
		width: 100%;
	  }
	  .shadow-lg {
		box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
	  }
	  .info-box .info-box-icon {
		border-radius: 0.25rem;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		font-size: 1.875rem;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
		width: 70px;
	  }
	  
	  .info-box .info-box-text {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	  }

	  .info-box .info-box-number {
		display: block;
		margin-top: .25rem;
		font-weight: 700;
	  }
	  
	  .bg-olive {
		background-color: #3d9970 !important;
	  }
	  
	  .bg-olive,
	  .bg-olive > a {
		color: #fff !important;
	  }

		.bg-warning {
			background-color: #ffc107 !important;
		  }
		  
		  .bg-warning,
		  .bg-warning > a {
			color: #1f2d3d !important;
		  }

		  .bg-info {
			background-color: #17a2b8 !important;
		  }
		  
		  .bg-info,
		  .bg-info > a {
			color: #fff !important;
		  }

		  .bg-light-green {
			background-color: #F6A21E;
			color: #ffffff;
		}

		.bg-lightblue {
			background-color: #3c8dbc !important;
		  }
		  
		  .bg-lightblue,
		  .bg-lightblue > a {
			color: #fff !important;
		  }

		  .bg-green {
			background-color: #28a745 !important;
		  }
		  
		  .bg-green,
		  .bg-green > a {
			color: #fff !important;
		  }

		  .bg-danger {
			background-color: #dc3545 !important;
		  }
		  
		  .bg-danger,
		  .bg-danger > a {
			color: #fff !important;
		  }

		  .bg-primary {
			background-color: #007bff !important;
		  }
		  
		  .bg-primary,
		  .bg-primary > a {
			color: #fff !important;
		  }
		  
		  