

.container-login100 {
	font-family: 'Roboto Slab', serif;
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: #F2F2F2;
	background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-login100 {
	width: 950px;
	background: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px 25px;
}


.wrap-login100 .footer {
	margin-top: 30px;
	color: #888;
	text-align: center;
}

.login-app-title {
	font-size: 20px;
	font-weight: bold;
	color: #333;
	width: 100%;
	padding: 10px 0px 0px 0px;
}

.login100-form {
	width: 300px
}

.login100-form-title {
	font-size: 20px;
	color: #333;
	line-height: 1.2;
	text-align: center;
	width: 100%;
	display: block;
	padding-bottom: 40px;
}


.login100-form .form-group label {
	width: 100%;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}

.login100-form .form-group label.mandatory:after {
    color: #e32;
    content: ' *';
    display:inline;
}