/*** components ***/

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--navbar-background-color: rgb(43, 45, 48);
	--navbar-text-color: white;
	--navbar-divider-color: rgb(53, 55, 58);

	--accent-color: #3d9be9;
	--hover-color: #57aff7;
	--border-color: hsl(0, 0%, 80%);
	--section-background-color: rgb(247, 250, 253);
	--page-background-color: rgb(235, 239, 242);
	background-color: var(--page-background-color);

	height: 100%;
	--navbar-max-width: 15rem;
	--navbar-min-width: 4rem;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	line-height: 2.2;
}

section {
	background-color: var(--page-background-color);
	display: flex;
	flex-direction: column;
}

.section-step {
	padding: 30px 30px;
	margin: 20px 0px;
	background-color: var(--section-background-color);
	box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
	border-radius: 0.25rem;
}

h3,
h5 {
	font-weight: 400;
}

.section-step h3 {
	/* margin-bottom: 40px; */
	font-size: 1.6rem;
}

.section-step h3::after {
	content: '';
	display: block;
	height: 1px;
	width: calc(100%-120px);
	background-color: var(--border-color);
	margin: 10px 0px;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.inline-icon {
	color: rgb(72, 184, 72);
	margin-right: 10px;
}

.info-box {
	background-color: var(--section-background-color);
}

.card {
	background-color: var(--section-background-color);
}

.progress-label {
	font-size: 0.7rem;
	text-align: center;
	padding-bottom: 5px;
}

#wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#content-wrapper {
	display: flex;
}

#content {
	display: inline-block;
	height: 100%;
	width: calc(100% - var(--navbar-max-width));
	overflow: auto;
	vertical-align: top;
	transition: 0.5s;
	padding-bottom: 50px;
}


/*** Header ***/

#header {
	background-color: var(--navbar-divider-color);
	color: var(--navbar-text-color);
	padding: 10px;
	text-align: end;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-left {
	display: flex;
	align-items: center;
}

.nav-brand {
	display: flex;
	align-items: center;
	font-size: 0.5rem;
	width: 100%;
	margin-right: 10px;
}

.brand-logo {
	width: 1.9rem;
	height: 1.9rem;
	margin-right: 5px;
}

.main-title {
	color: white;
	font-size: 1.6rem;
	margin-bottom: 0;
	/*font-family: 'Cuprum', sans-serif;*/
}

#nav-top {
	cursor: pointer;
	text-align: center;
	font-size: 1.3rem;
	width: 50px;
	display: flex;
	align-items: center;
	margin-left: 20px;
}

#header-login {
	display: block;
	cursor: pointer;
}

#header-login span {
	margin-left: 5px;
}

#header-logged-in {
	display: flex;
	align-items: baseline;
}

.logout-btn {
	cursor: pointer;
	border-bottom: solid var(--navbar-text-color) 1px;
	padding: 4px;
	color: var(--navbar-text-color);
}

.profile-link {
	border-bottom: solid var(--navbar-text-color) 1px;
	margin-left: 10px;
	padding: 4px;
	text-decoration: none;
	color: var(--navbar-text-color);
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-link:hover,
.profile-link.active {
	border-color: var(--accent-color);
	color: var(--accent-color);
}

.profile-link span {
	margin-left: 5px;
}

.page-link {
	cursor: pointer;
	color: var(--accent-color);
}

.page-item.active .page-link {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

/*** Footer ***/

.main-footer {
	position: fixed;
	background-color: var(--navbar-divider-color);
	color: var(--navbar-text-color);
	padding: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

#footer {
	font-size: 14px;
}

/*** Navbar ***/

#nav {
	width: var(--navbar-max-width);
	transition: 0.5s;
	padding: 0px;
}

.navbar {
	display: flex;
	align-items: flex-start;
	left: 0;
	position: relative;
	/* overflow: auto; */
	vertical-align: top;
	padding: 0px;
	border-top: solid var(--navbar-divider-color) 1px;
	/* height: 100%; */
	min-height: 100px;
	overflow: hidden;
}

#nav-content {
	width: 100%;
	background-color: var(--navbar-background-color);
	padding-top: 20px;
	height: 100%;
}


#nav-top:hover {
	color: var(--accent-color);
}


.nav-img {
	font-size: 1.2rem;
}

.nav-link.active,
.nav-link:hover {
	border-left: solid var(--accent-color) 2px;
	color: var(--accent-color);
}

.nav-divider {
	margin: 10px auto 10px auto;
	width: 70%;
	height: 1px;
	color: var(--navbar-divider-color);
	background-color: var(--navbar-divider-color);
	opacity: 1;
	display: block;
}


/*** User input ***/

.input-container {
	width: 70%;
	max-width: 300px;
	margin-bottom: 30px;
}

.input-container-inline {
	width: 70%;
	max-width: 300px;
	margin-bottom: 30px;
	display: flex;
}

.input-container p {
	margin-bottom: 10px;
	font-size: 1.1rem;
}

.highlight {
	color: var(--accent-color);
}

.input {
	height: 38px;
	width: 100%;
	min-width: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0px 5% 0px 8px;
	background-color: white;
}

.input-border {
	border-color: var(--border-color);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
}

input.input-error,
select.input-error {
	border-color: #fc8181;
}

.error {
	color: #fc8181;
	font-size: 0.75rem;
	text-align: left;
	margin-top: 0.25rem;
}

.input-label {
	font-weight: 400 !important;
}

.text-field {
	padding: 0px 8px 0px 8px;
	font-weight: 400;
}

select {
	font-weight: 400;
	font-size: 0.9rem;
	/* background: url(./assets/images/arrow-down-bold-svgrepo-com.svg) no-repeat center white; */
	background-size: 0.9rem;
	--webkit-appearance: none;
	background-position-x: 95%;
}

.form-group {
	margin: 0px;
}

.entries-picker {
	min-width: 50px;
	width: 4rem;
	height: 30px;
	/* background-size: 0.7rem;
	background-position-x: 90%;
	display: inline-block;
	margin-left: 10px; */
	margin: 5px;
}

.checkbox {
	display: inline-block;
}

.checkbox p {
	margin-left: 5px;
	margin-right: 20px;
	margin-bottom: 0px;
	font-size: 0.9rem;
	display: inline-block;
}

.switch {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 19px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: var(--accent-color);
}

input:focus+.slider {
	box-shadow: 0 0 1px var(--accent-color);
}

input:checked+.slider:before {
	-webkit-transform: translateX(15px);
	-ms-transform: translateX(15px);
	transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.button {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	text-align: center;
	color: white;
	padding: 2px 10px 2px 10px;
	margin-top: 5px;
	margin-right: 10px;
	cursor: pointer;
}

.button-icon {
	margin-right: 5px;
	font-size: 0.8rem;
}

.action-buttons {
	margin: 5px;
	display: flex;
	align-items: center;
	font-size: 0.85rem;
}

.approved-button {
	background-color: rgb(112, 167, 79);
	border-color: rgb(112, 167, 79);
	color: white;
}

.approved-button:hover {
	background-color: rgb(129, 187, 95);
	border-color: rgb(129, 187, 95);
}

.info-button {
	background-color: rgb(231, 231, 231);
	border-color: rgb(220, 220, 220);
}

.info-button:hover {
	background-color: rgb(241, 241, 241);
	border-color: rgb(232, 232, 232);
}

.edit-button {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	color: white;
}

.edit-button:hover {
	background-color: var(--hover-color);
	border-color: var(--hover-color);
}

.pending-button {
	background-color: rgb(207, 83, 118);
	border-color: rgb(207, 83, 118);
	color: white;
}

.pending-button:hover {
	background-color: rgb(228, 108, 142);
	border-color: rgb(228, 108, 142);
}

.button:hover {
	background-color: var(--hover-color);
	border-color: var(--hover-color);
	color: white;
}

.top-buttons {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 5px;
}

.table-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.login-section {
	display: none;
	position: absolute;
	top: 50%;
	/* position the top  edge of the element at the middle of the parent */
	left: 60%;
	/* position the left edge of the element at the middle of the parent */

	transform: translate(-50%, -50%);
	width: 400px;
	top: 200px;
	color: white;
	background-color: var(--navbar-hover-color);
}


@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 768px) {


	#content-wrapper {
		flex-direction: column;
	}

}

@media only screen and (max-width: 992px) {
	html {
		font-size: 14px;
	}
}

@media only screen and (min-width: 992px) {
	html {
		font-size: 15px;
	}
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 16px;
	}
}

* {
	box-sizing: border-box;
}

/* 
=================
Table
=====================
*/

.table-container {
	/* max-height: 500px; */
	margin: 0 auto;
	overflow: auto;
	border: solid #e1e1e1 1px;
	border-radius: 0.25rem 0.25rem 0 0;
	border-bottom: none;
	margin-bottom: 20px;
}

.table {
	width: 100%;
	border-spacing: 0;
	border: solid #dee2e6 1px;
}

td {
	font-size: 0.8rem;
}


.non-click-rows tr {
	cursor: auto;
}

.striped-rows tr:nth-child(odd) {
	background-color: rgb(223, 244, 249);
}

.striped-rows th {
	background-color: var(--section-background-color);
}

caption {
	font-style: italic;
	font-size: 90%;
	margin-bottom: 10px;
}

.table th {
	background: var(--section-background-color);
	padding: 8px 10px;
	border-bottom: 1px solid #1a1a1a;
	font-weight: bold;
	text-align: left;
}

.sort-icon.active {
	color: var(--accent-color);
}

.sort-icon {
	color: var(--border-color);
}

.th-clickable {
	cursor: pointer;
}

.th-sort {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table td {
	border-top: 1px solid #ddd;
	padding: 8px 20px;
}

.table tbody tr:first-child td {
	border-top: none;
}

.table tbody tr:nth-child(n) td {
	background: #eff0f0;
}

.table tbody tr:nth-child(2n) td {
	background: var(--section-background-color);
}

.table tbody tr:hover td {
	background-color: rgb(224, 224, 224);
}

.process {
	display: flex;
	flex-direction: column;
}

.process-labels {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 0.7rem;
	margin-bottom: 8px;
}

.process-labels .label {
	text-align: center;
	width: 4.8rem;
	display: inline-block;
}


.process-steps {
	display: flex;
	align-items: center;
	justify-content: center;
}

.process::before {
	display: none;
}

.process .node {
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 50%;
	background-color: rgb(196, 196, 196);
	display: inline-block;
}

.process .path {
	background: rgb(196, 196, 196);
	height: 2px;
	width: 4rem;
	display: inline-block;
}